  body {
        height: 500px;
        width: 500px;
        background: url("https://img.freepik.com/premium-vector/business-man-think-creative-ideas-illustration_188398-732.jpg?w=2000");
        background-size: 1700px 900px;
      }