<html>
<head>

<link rel="stylesheet"href="first.css">
</head>
<center>
<h1>USER LOGIN</h1>
<body >
<script>  
function validateform(){  
var email=document.myform.email.value;  
var password=document.myform.password.value;  
  
if (email==null || email==""){  
  alert("Email can't be blank");  
  return false;  
}else if(password.length<6){  
  alert("Password must be at least 6 characters long.");  
  return false;  
  }  
}  
</script>  
<body>
<form name="myform" method="post" action="cus wel.html" onsubmit="return validateform()" >  
<h2>E-mail: <input type="text" name="email"placeholder="Enter E-mail.."size="50"></h2><br/>  
<h2>Password: <input type="password" name="password"placeholder="Enter Password..."size="50"></h2><br/>  
<input type="submit" value="login">  
<p>Don't have an account...<b><a href="SIGNUP.html">Sign Up</a></b></p>

 
</form>  
</body>
</center>
</html>