<html>
<head><link rel="stylesheet" href="third.css">
</head>
<body bgcolor="#a5d6a7">
<center>
<h1>CUSTOMER CARE REGISTRY</H1>
<br>
<script>  
function validateform(){  
var name=document.myform.name.value;  
var email=document.myform.email.value;
var mobile=document.myform.mobile.value;
var password=document.myform.password.value;  
  
if (name==null || name==""){  
  alert("Name can't be blank");  
  return false;  
}else if(email==null || email==""){
   alert("E-mail can't be blank");
   return false;
}else if(mobile.length<=9){
   alert("Enter Mobile Number");
    return false;
}else if(password.length<6){  
alert("Password must be at least 8 characters long.");  
return false;  
  }
}  
</script>  
<body>  
<form name="myform" method="post" action="file:///D:/IBM%20project/complaint.html" onsubmit="return validateform()" >  
<h2>User Name: <input type="text" name="name"placeholder="Enter Name..."></h2><br/>
<h2>E-mail: <input type="text" name="email"placeholder="Enter E-mail..."></h2><br/>
<h2>Mobile Number: <input type="text" name="mobile"placeholder="Enter Mobile Number..."></h2><br/>
<h2>Password: <input type="password" name="password"placeholder="Enter Password"></h2><br/>
<a href="complaint.html"><button type="submit" value="login" onclick="validateform()"> Sign Up</a></button> 
</form>  
</body>
</center>
</html>
