<head>

  <body bgcolor="black">
  <h1><marquee><font color="orange">WELCOME TO "RING RING" CUSTOMER CARE REGISTRY!!!!!!!!!!</font></marquee></h1>
  <h3><font color="white">
  Customer care is more than just providing great customer service. It’s a proactive approach to providing information, tools, 
  and services to customers at each point they interact with a brand.The customer service team is the face of the organization and the frontline when customers 
  require assistance. Customer service agents help customers pay bills, review or make changes to accounts, 
  handle returns and answer frequently asked questions.</font></h3>
  <center><img src="C:\Users\Administrator\Pictures\plaint.png" height="400" width="400"></center>
  <style>
  .button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  </style>
  </head>
  <body><center><br><br>
  <a href="ADMIN LOGIN.html"><button class="button">Admin</button></a>
  <a href="CUSLOG.html"><button class="button">User</button></a>
  <a href="agentlog.html"><button class="button">Agent</button></a>
  </center>
  </body>
  </html>>
  